{% load static %}
{% load mytxsTags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}MyTXS 2.0{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href={% static 'mytxs/styles.css' %}>

    <!-- Preconnect to Google Fonts for faster loading -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Include Outfit and Noto Sans fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap" rel="stylesheet">

    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>

    <script src="{% static 'mytxs/formSafety.js' %}" defer></script>
    {% if request.lazyDropdownData %}<script src="{% static 'mytxs/lazyDropdown.js' %}" defer data-json="{{ request.lazyDropdownData }}"></script>{% endif %}
    <script src="{% static 'mytxs/searchDropdown.js' %}" defer></script>
    <script src="{% static 'mytxs/imageHover.js' %}" defer></script>
    {% block jsHead %} {% endblock %}
</head>

<body class="bg-txsGray100 h-screen font-noto">
    {% block messages %}
    {% if messages %}
    <div class="fixed cursor-pointer inset-x-0 top-4 text-center z-10" onclick="this.classList.add('hidden');">
        {% for message in messages %}
        <span class="{% if 'error' in message.tags %}bg-red-400{% else %}bg-green-400{% endif %} cursor-pointer rounded-md p-2">
            {{ message.tags|capfirst }}: {{ message }}
        </span> <br>
        {% endfor %}
    </div>
    {% endif %}
    {% endblock %}
    <div id="menu-overlay" class="hidden fixed inset-0 bg-black bg-opacity-50 z-20" 
            onclick="document.getElementById('sidebar').classList.add('hidden');
                this.classList.add('hidden');">
    </div>

    {% block body %}

    <div class="grid md:grid-cols-[14rem_1fr] h-screen overflow-y-auto">
        <div id="sidebar" class="hidden absolute z-30 pt-20 md:pt-0 md:relative md:block bg-txsPurple500 text-white w-56 h-screen [&>*]:flex [&>*]:gap-5 [&>*]:px-5 [&>*]:py-4 [&>*]:items-center">
            {% block sidebar %}

            {% if user.medlem %}
            <a class="hover:bg-txsBlack" href="{{ user.medlem.get_absolute_url }}">
                <img class="w-6 flex justify-center" src="{% static 'mytxs/imgs/Book.svg' %}">
                <p>Rediger medlems-registerdata</p>
            </a>
            {% endif %}

            {% linkIfAccess sjekkheftet %}
                <img class="w-6 flex justify-center" src="{% static 'mytxs/imgs/Heart.svg' %}">
                <p>Sjekkheftet</p>
            {% endLinkIfAccess %}

            {% linkIfAccess semesterplan %}
            <img class="w-6 flex justify-center" src="{% static 'mytxs/imgs/Cal.svg' %}">
            <p>Semesterplan</p>
            {% endLinkIfAccess %}

            {% linkIfAccess lenker %}
            <img class="w-6 flex justify-center" src="{% static 'mytxs/imgs/Links.svg' %}">
            <p>Lenker</p>
            {% endLinkIfAccess%}

            {% linkIfAccess admin %}
            <img class="w-6 flex justify-center" src="{% static 'mytxs/imgs/Key.svg' %}">
            <p>Admin funksjoner</p>
            {% endLinkIfAccess %}

            {% if user.medlem.gammeltMedlemsnummer %}
            <a class="hover:bg-txsBlack" href="{% if 'TKS' in user.medlem.gammeltMedlemsnummer %}http://mitks.mannskor.no/index.php{% else %}http://mytss.mannskor.no/index.php{% endif %}" target="_blank">
                <img class="w-6 flex justify-center" src="{% static 'mytxs/imgs/Old.svg' %}">
                <p>Gamle {% if 'TKS' in user.medlem.gammeltMedlemsnummer %}MiTKS{% else %}MyTSS{% endif %}</p>
            </a>
            {% endif %}

            <a class="hover:bg-txsBlack"  href="{% url 'om' %}">
                <img class="w-6 flex justify-center" src="{% static 'mytxs/imgs/Speech.svg' %}">
                <p>Feedback og om prosjektet</p>
            </a>

            <a class="hover:bg-txsBlack"  href="{% url 'endreLogin' %}">
                <img class="w-6 flex justify-center" src="{% static 'mytxs/imgs/Lock.svg' %}">
                <p>Endre brukernavn/ passord</p>
            </a>

            <a class="hover:bg-txsBlack"  href="{% url 'logout' %}">
                <img class="w-6 flex justify-center" src="{% static 'mytxs/imgs/Door.svg' %}">
                <p>Logg ut</p>
            </a>

            {% endblock %}
        </div>
        
        <div class="overflow-y-auto scroll-content pb-16">
            <div class="flex flex-col w-full">
                <div id="topbar" class="bg-txsWhite border-b-txsGray300 border-b-2 p-4 sticky top-0 z-10 md:relative w-full">
                    {% block topbar %}
                    <div class="flex flex-wrap justify-between">
                        <img id="menu-toggle" class="block md:hidden" src="{% static 'mytxs/icons/menu.svg' %}" onclick="document.getElementById('sidebar').classList.toggle('hidden'); document.getElementById('menu-overlay').classList.toggle('hidden');">
                        <div class="flex flex-col text-right md:text-left">
                            <h3 class="font-medium">Hei {{ user.medlem.navn }}!</p>
                            <p>Dette er din {{ user.medlem.innlogginger }}. innlogging</p>
                        </div>
                        <h3 class="font-medium self-center hidden md:block">Det synges for lite!</p>
                    </div>
                    {% endblock %}
                </div>

                <div id="content" class="m-4">
                    {% block heading %}
                    <h1 class="mb-1">
                        {% if heading %}
                        {{ heading }}
                        {% elif request.instance %}
                        {{ request.instance|capfirst }}

                        {% if user.medlem.tilganger %}
                        {% addLoggLink request.instance %}
                        {% endif %}

                        {% endif %}
                    </h1>
                    {% addSubNavigation %}
                    {% endblock %}

                    {% block content %} [Default Content] {% endblock %}
                </div>
            </div>
            <div id="scroll-to-top" 
                class="hidden fixed bottom-6 left-6 md:left-60 bg-txsPurple200/[.8] p-3 rounded-full cursor-pointer z-50 shadow-lg"
                onclick="scrollToTop()">
                <img id="arrow_up" src="{% static 'mytxs/icons/arrow_up.svg' %}">
            </div>
        </div>
    </div>

    

    {% endblock %}

    {% if request.optionForm %}

    <div id="settings-overlay" class="hidden cursor-pointer fixed inset-0 z-9" 
        onclick="document.getElementById('settings-form').classList.add('hidden');
            document.getElementById('settings-icon').classList.toggle('hidden');
            this.classList.add('hidden');">
    </div>

    <div class="fixed right-6 bottom-6 p-2 group bg-txsGray200">
        <img id="settings-icon" 
            class="cursor-pointer h-8" 
            src="{% static 'mytxs/icons/settings.svg' %}" 
            onclick="document.getElementById('settings-form').classList.toggle('hidden'); 
                document.getElementById('settings-overlay').classList.toggle('hidden'); 
                this.classList.add('hidden');">
        <form id="settings-form" class="hidden managedForm" action="{{ request.get_full_path }}" method="post">
        <div class="block text-xl">Innstillinger</div>
            {% csrf_token %}
            {{ request.optionForm.as_p }}
            <input type="submit" value="Lagre">
        </form>
    </div>
    {% endif %}

    <script>
        const mainContent = document.querySelector('.scroll-content');
        const scrollToTopButton = document.getElementById('scroll-to-top');

        mainContent.addEventListener('scroll', () => {
            if (mainContent.scrollTop > 300) {
                scrollToTopButton.classList.remove('hidden');
            } else {
                scrollToTopButton.classList.add('hidden');
            }
        });

        function scrollToTop() {
            mainContent.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
        }
    </script>
</body>
</html>