{% extends "mytxs/base.html" %}


{% block content %}
    <ul>
    {% for dekorasjon in dekorasjoner %}
        <li><a href="{% url 'mytxs:dekorasjon' dekorasjon.kor.kortTittel dekorasjon.navn %}">{{dekorasjon.navn}} ({{dekorasjon.kor.kortTittel}})</a></li>
    {% endfor %}
    </ul>


    <form action="{{ request.path }}" method="post">
        {% csrf_token %}

        {{ nyDekorasjonForm.management_form }}

        {{ nyDekorasjonForm }}
        <input type="submit" value="Lagre">
    </form>
{% endblock %}
