{% extends "mytxs/base.html" %}
{% load mytxsTags %}

{% block content %}

<p class="max-w-2xl">
Merk at når man eksporterer data herifra vil det sendes en epost til mytxs@samfundet.no, altså Jakob, 
med hvilken data som ble hentet ut og for hvem, for å hindre misbruk av denne featuren. 
Persondata er sensitivt og skal behandles med respekt, så bare hent ut det du faktisk trenger. 
</p><br>

<h2 class="text-2xl">Eksport av spesifikk data</h2>
<form action="{{ request.path }}" method="get">
    {{ eksportForm.as_p }}
    <input type="submit" value="Velg">
</form>
{% if visCSVLenke %}{% toggleURLparam 'eksport' 'Last ned csv med medlemsdata' %}{% endif %}

<br><br><h2 class="text-2xl">Eksport av semesterets fravær til musikkens studieforbund</h2>
{% toggleURLparam 'fraværEksport' 'Last ned fravær formatert til musikkens studieforbund' %}

{% endblock %}