{% extends "mytxs/base.html" %}
{% load mytxsTags %}

{% block content %}
{% toggleURLparam 'heleSemesteret' 'for hele semesteret' %}

<table class="text-left">
    <tr class="[&>*]:w-52 border-b border-black">
        <th>Hvem</th>
        <th>Gyldig fravær</th>
        <th>Ugyldig fravær</th>
        {% if medlem.pk %}<th>Semesterplan</th>{% endif %}
    </tr>
    {% for medlem in request.queryset %}
    <tr class="border-b border-black">
        <td>{{ medlem.navn }}</td>
        <td>{{ medlem|showFravær:True }}</td>
        <td>{{ medlem|showFravær:False }}</td>
        {% if medlem.pk %}<td><a href="{% url 'fraværSemesterplan' request.resolver_match.kwargs.underside medlem.pk %}?gammelt=True">Se semesterplan</a></td>{% endif %}
    </tr>
    {% endfor %}
</table>

{% endblock %}
