{% extends "mytxs/base.html" %}
{% load mytxsTags %}

{% block content %}
<style>
    :root { --percent: 0; } /* default verdi */
    
    .percentColor {
        background-color: rgb(
            255,
            calc(255 - 200 * pow(var(--percent) / 100, 0.2)),
            calc(255 - 200 * pow(var(--percent) / 100, 0.2))
        );
    }
</style>

{% toggleURLparam 'heleSemesteret' 'for hele semesteret' %}

<table class="text-left">
    <tr class="border-b border-black">
        <th class="w-52">Hvem</th>
        <th class="w-40">Umeldt fravær</th>
        <th class="w-40">Ugyldig fravær</th>
        <th class="w-40">Gyldig fravær</th>
        <th class="w-40">Totalt fravær</th>
        {% if request.queryset.0.pk %}<th class="w-40">Semesterplan</th>{% endif %}
    </tr>
    {% for medlem in request.queryset %}
    <tr class="border-b border-black">
        <td>{{ medlem.navn }}</td>
        <td class="percentColor pl-1" style="--percent: {{ medlem|showFravær:'umeldtFravær%' }};">{{ medlem|showFravær:'umeldtFravær' }}</td>
        <td class="percentColor pl-1" style="--percent: {{ medlem|showFravær:'ugyldigFravær%' }};">{{ medlem|showFravær:'ugyldigFravær' }}</td>
        <td class="percentColor pl-1" style="--percent: {{ medlem|showFravær:'gyldigFravær%' }};">{{ medlem|showFravær:'gyldigFravær' }}</td>
        <td class="percentColor pl-1" style="--percent: {{ medlem|showFravær:'sum%' }};">{{ medlem|showFravær:'sum' }}</td>
        {% if medlem.pk %}<td><a href="{% url 'fraværSemesterplan' request.resolver_match.kwargs.underside medlem.pk %}?gammelt=True">Se semesterplan</a></td>{% endif %}
    </tr>
    {% endfor %}
</table>

{% endblock %}
