{% extends "mytxs/instance.html" %}
{% load mytxsTags %}

{% block beforeForms %}
{% if request.egenFøringLink %}
{% toggleURLparam 'fraværModus' 'Fravær modus' %}
{% endif %}
{% endblock %}


{% block betweenForms %}

{% if request.egenFøringLink %}
    <a href="{{ request.egenFøringLink }}"><img src="{{ request.egenFøringLink }}"></img></a>
{% endif %}

{% toggleURLparam 'alleOppmøter' 'vis alle oppmøter' %}

{% endblock %}


{% block afterForms %}

<h2 class="text-xl mt-4">Stemmefordeling</h2>

<ul class="flex flex-col">
    {% for stemmegruppe, antall in request.instance.getStemmeFordeling.items %}
    <li>{{stemmegruppe}}: {{antall}}</li>
    {% endfor %}
</ul>

{% if request.eksportLenke %}
<a href="{{ request.eksportLenke }}">Eksporter data for de som kommer</a>
{% endif %}

{% endblock %}