{% extends "mytxs/base.html" %}
{% load mytxsTags %}

{% block content %}

{% block beforeForms %}{% endblock %}

<form action="{{ request.get_full_path }}" method="post" class="managedForm" {% fixFileField forms formsets %}>
    {% csrf_token %}
    {% for form in forms %}
    {% if form|formIsVisible %}
    {{ form.as_p }}
    {% endif %}
    {% endfor %}

    {% block betweenForms %}{% endblock %}

    {% for formset in formsets %}
    <h2 class="text-xl mt-4">{{ formset.prefix|capfirst }}</h2>
    {% if formset|formIsVisible %}
    {{ formset.management_form }}
    {% for form in formset %}
    {{ form }} {% addLoggLink form.instance %} <br>
    {% endfor %}
    {% endif %}
    {% endfor %}

    <input type="button" value="Angre" onclick="resetForm(this.form)">
    <input type="submit" value="Lagre">
</form>

{% block afterForms %}{% endblock %}

{% endblock %}