{% extends "mytxs/base.html" %}
{% load mytxsTags %}

{% block content %}

{% toggleURLparam 'jobbvakter' 'jobbvakter' %}
<form action="{{ request.get_full_path }}" method="post" class="managedForm">
    {% csrf_token %}

    <table class="text-left">
        <tr class="[&>*]:w-52 border-b border-black">
            <th>Hva</th>
            <th>Når</th>
            <th>Medlemmer</th>
            <th>Oppmeldt</th>
        </tr>
        
        {{ hendelseFormset.management_form }}
        {% for form in hendelseFormset %}
        {% with hendelse=form.instance %}

        <tr class="border-b border-black">
            <td>{{hendelse.navn}}</td>
            <td>
                {{ hendelse.startDate|date:'D j. M' }}
                {% if hendelse.startTime %}
                {{ hendelse.startTime }}
                {% endif %}

                {% if hendelse.slutt %}
                -
                {% if hendelse.slutt.date|default:hendelse.slutt != hendelse.startDate %}
                <br>{{ hendelse.slutt|date:'D j. M' }}
                {% endif %}
                {% if hendelse.sluttTime %}
                {{ hendelse.sluttTime }}
                {% endif %}
                {% endif %}
            </td>

            <td class="[&>label]:hidden">
                {{ form.medlemmer.label_tag }}
                {{ form.medlemmer }}
                {{ form.id }}
            </td>

            <td>{% if request.user.medlem.pk in form.medlemmer.value %}Oppmeldt{% endif%}</td>
        </tr>
        {% endwith %}
        {% endfor %}

    </table>

    <input type="button" value="Angre" onclick="resetForm(this.form)">
    <input type="submit" value="Lagre">
</form>

{% endblock %}