{% extends "mytxs/instance.html" %}

{% block content %}
    <div>
        {% if lastLog %}
            <a href="{{lastLog.get_absolute_url}}">Last log</a>
        {% endif %}

        {% if nextLog %}
            <a href="{{nextLog.get_absolute_url}}">Next log</a>
        {% endif %}

        {% if actual and actual.get_absolute_url %}
            <a href="{{actual.get_absolute_url}}">Actual object</a>
        {% endif %}
    </div>

    {{ block.super }}

    <pre class="bg-white">{{value}}</pre>
{% endblock %}