{% extends "mytxs/base.html" %}
{% load static %}

{% block content %}

<script type="module" src="{% static 'mytxs/midi/maestro.js' %}" defer></script>

<input id="fileInput" type="file"
    class="file:rounded-md file:border-none"/>

<h1 id="songNameHeader"></h1>

<div id="uiDiv"
    class="[&_input[type='number']]:rounded-md [&_select]:rounded-md">

    <button id="pauseButton">Spill</button>

    <br>

    <span id="progressSpan">0:00</span>
    <span id="durationSpan"> / 0:00</span>
    <input id="progressBar" type="range">

    <label id="barLabel" for="barNumber">Takt</label>
    <input id="barNumber" type="number">

    <br>

    <label id="loopLabel">Looping</label> <!-- for would be ambiguous -->
    <input id="loopStartNumber" type="number">
    <input id="loopEndNumber" type="number">
    <input id="loopActive" type="checkbox">

    <br>

    <label id="instrumentLabel" for="instrumentNumber">Instrument</label>
    <input id="instrumentNumber" type="number">

    <br>

    <label id="transposeLabel" for="transpose">Transponering</label>
    <input id="transpose" type="number">

    <br>

    <label id="tempoLabel" for="tempoBar">Tempo</label>
    <input id="tempoBar" type="range">

    <br>

    <div id="trackUiDivs"
        class="[&_*]:m-1"></div>

</div>

{% endblock %}
