{% extends "mytxs/base.html" %}

{% block content %}

<form action="{{ request.path }}" method="get" style="display:inline-block">
    {{ medlemListeFilterForm.as_div }}

    <input type="submit" value="Filtrer">
</form> 

<form action="{{ request.path }}" method="get" style="display:inline-block;">
    <input type="submit" value="Clear">
</form> 

<ul>

{% for medlem in medlemmer %}

    <li><a href="{% url 'medlem' medlem.pk %}">{{medlem}} {{medlem.storkor}} {{medlem.karantenekor}}</a></li>

{% endfor %}

</ul>

{% endblock %}
