{% extends "mytxs/base.html" %}

{% block content %}

<a href="https://forms.gle/kr2adQyiBmPQHwUs9" class="text-3xl">Stor tydelig feedback lenke</a>

<pre class="w-[56rem] pt-2 break-normal text-sm whitespace-pre-wrap backdrop-brightness-125 p-2 mt-2">
Kjære sangerbrødre og sangersøstre

Nå har jeg jobbet med dette prosjektet i snart et år. Jeg har brukt 600 timer på det, over 5 ganger så mye som jeg brukte på “bacheloroppgaven” min i vår. Prosjektet har ofte vært givende, og når det ikke har vært det har motivasjonen min vært opprettholdt av hvor mye disse internsidene har å si for korene. At vi fortsatt bruker en løsning som var påbegynt for over 20 år siden taler til det. 

Denne siden er likevel mer enn bare en ny versjon av den gamle. Gjennom hele prosessen har jeg jobbet med å skrive koden så bærekraftig som mulig, slik at det ikke skal være unødvendig vanskelig å endre på noe. Framover vil vi få muligheten til ikke bare å endre på hvordan siden ser ut og oppfører seg, men også å effektivisere tidskrevende manuelle oppgaver. Jeg tror mange i TXS har tilstrekkelig kompetanse til å bidra til prosjekt, og jeg vil selvfølgelig være behjelpelig. Koden finnes <a href="https://github.com/JakobLien/mytxs">her</a>, så ser jeg fram til å høre fra dere:)
    
Forøverig oppfordrer jeg alle til å prøve ut siden, og komme med tilbakemelding om hva dere tenker. Vi offentliggjør siden nå heller enn over nyttår, både for å se at alt fungerer, og for å gi folk muligheten til å komme med tilbakemeldinger. Alle tilbakemeldinger høres, og vi vil gjøre så mye vi kan framover for å forbedre siden:)

Som på enhver konsert er det til slutt folk som burde takkes:
- En stor takk til Rikart og Sirius, som jeg så langt har utvekslet 50 konstruktive og ofte lange eposter med.
- Takk til Frode og Ingeborg, som overbeviste meg om at det var verdt å lære seg Django for at ITK skulle hoste siden. Prosjektet hadde ikke gått uten denne avgjørelsen, som jeg i datiden var veldig irritert over.
- Takk til ITK, særlig Markus og Arunan, for hosting og hjelp med oppsett av siden. Vi har sittet mange trivelige timer sammen og jobbet med dette.
- Takk til Sigurd og OJ som har bidratt med idemyldring.

Sangerhilsen
Jakob Lien
</pre>

{% endblock%}