{% extends "mytxs/base.html" %}
{% load mytxsTags %}

{% block content %}

{% if request.iCalLink %}
<a href="{{ request.iCalLink }}">Last ned iCal fil</a>
<a href="https://www.google.com/calendar/render?cid={{ request.iCalLink }}">Legg til i google Calendar</a>
<br>
{% endif %}

{% toggleURLparam 'gammelt' 'vis gammelt' %}
<br>
<span>Minutter gyldig fravær: {{ medlem|showFravær:True }}</span>
<br>
<span>Minutter ugyldig fravær: {{ medlem|showFravær:False }}</span>

<table>
    <tr class="[&>*]:w-52 border-b-[1px] border-black">
        <th>Hva</th>
        <th>Når</th>
        <th>Hvor</th>
        <th>Fravær</th>
    </tr>
    {% for hendelse in request.queryset %}
    <tr class="border-b-[1px] border-black">
        <td>{{ hendelse.navn }} {% if medlem.navBar.hendelseListe %}<a href="{% url 'hendelse' hendelse.pk %}">Rediger</a>{% endif %}</td>
        <td>
            {{ hendelse.startDate|date:'D j. M' }}
            {% if hendelse.startTime %}
            {{ hendelse.startTime }}
            {% endif %}

            {% if hendelse.sluttDate %}
            -
            {% if hendelse.sluttDate != hendelse.startDate%}
            <br>{{ hendelse.sluttDate|date:'D j. M' }}
            {% endif %}
            {% if hendelse.sluttTime %}
            {{ hendelse.sluttTime}}
            {% endif %}
            {% endif %}
        </td>
        <td>{{ hendelse.sted }}</td>

        {% with oppmøte=hendelse.oppmøter|filterMedlemFirst:medlem %}{% if oppmøte %}
        {% ifAll %}<td>
            <a href="{{oppmøte.get_absolute_url}}">{% ifAll %}
                {% if oppmøte.minutterBorte and hendelse.start|past %}
                    {{ oppmøte.minutterBorte }} min {% if not oppmøte.gyldig %}u{% endif %}gyldig fravær
                {% elif not hendelse.start|past %}
                    {% if hendelse.kategori == 'O' and oppmøte.ankomst == 1 %}
                    Søk fravær
                    {% elif hendelse.kategori == 'P' and oppmøte.ankomst == 0 %}
                    Meld om du kommer
                    {% else %}Se melding{% endif %}
                {% endif %}
            {% ifAll %}</a><br>
        </td>{% endIfAll %}
        {% endif %}{% endwith%}
    </tr>
    {% endfor %}
</table>
{% endblock %}