{% extends "mytxs/base.html" %}
{% load mytxsTags %}

{% block content %}

{% if request.iCalLink %}
<a href="{{ request.iCalLink }}">Kalenderfeed lenke</a>

{% if shareCalendarForm %}
<form action="{{ request.get_full_path }}" method="post" class="creationForm inline-block">
{% csrf_token %}
{{ shareCalendarForm.non_field_errors }}
{% for field in shareCalendarForm.visible_fields %}
{{ field.errors }} {{ field.label_tag }} {{ field }} {{ field.help_text|safe }}
{% endfor %}
{% for field in shareCalendarForm.hidden_fields %}{{ field }}{% endfor %}
<input type="submit" value="Inviter">
</form>
{% endif %}

<br>
{% endif %}

{% toggleURLparam 'gammelt' 'vis gammelt' %}
<br>
<span>Minutter gyldig fravær: {{ medlem|showFravær:True }}</span>
<br>
<span>Minutter ugyldig fravær: {{ medlem|showFravær:False }}</span>

<table class="text-left">
    <tr class="[&>*]:w-52 border-b border-black">
        <th>Hva</th>
        <th>Når</th>
        <th>Hvor</th>
        <th>Fravær</th>
    </tr>
    {% for hendelse in request.queryset %}
    <tr class="border-b border-black">
        <td>{{ hendelse.navnMedPrefiks }} {% if user.medlem|tilgangExists:'semesterplan,fravær' %}<a href="{% url 'hendelse' hendelse.pk %}">Rediger</a>{% endif %}</td>
        <td>
            {{ hendelse.startDate|date:'D j. M' }}
            {% if hendelse.startTime %}
            {{ hendelse.startTime }}
            {% endif %}

            {% if hendelse.slutt %}
            -
            {% if hendelse.slutt.date != hendelse.startDate %}
            <br>{{ hendelse.slutt.date|date:'D j. M' }}
            {% endif %}
            {% if hendelse.sluttTime %}
            {{ hendelse.sluttTime }}
            {% endif %}
            {% endif %}
        </td>
        <td>{{ hendelse.sted }}</td>

        {% with oppmøte=hendelse.oppmøter|filterMedlemFirst:medlem %}{% if oppmøte and oppmøte.fraværTekst %}
        <td><a href="{{ oppmøte.get_absolute_url }}">
            {{ oppmøte.fraværTekst }}
        </a></td>
        {% endif %}{% endwith%}
    </tr>
    {% endfor %}
</table>
{% endblock %}