{% extends "mytxs/base.html" %}
{% load static %}

{% block content %}

<script type="module" src="{% static 'mytxs/midi/singstar.js' %}" defer></script>

<input id="fileInput" type="file"
    class="file:rounded-md file:border-none"/>

<h1 id="songNameHeader"></h1>

<div id="uiDiv"
    class="[&_input[type='number']]:rounded-md [&_select]:rounded-md">

    <select id="trackSelect">
        <option id="defaultTrackOption" disabled selected>Velg et spor</option>
        <optgroup id="trackOptions"></optgroup>
    </select>

    <button id="startButton">Start</button>

    <br>

    <span id="progressSpan">0:00</span>
    <span id="durationSpan"> / 0:00</span>
    <input id="progressBar" type="range" readonly>

    <label id="barLabel" for="barNumber">Takt</label>
    <input id="barNumber" type="number" readonly>

    <br>

    <label id="scoreLabel" for="scoreSpan">Poengsum: </label>
    <span id="scoreSpan">0.00</span>

    <br>

    <label id="highscoreLabel" for="highscoreSpan">Rekord: </label>
    <span id="highscoreSpan">0.00</span>

</div>

<canvas id="spectrumCanvas" width="400" height="150"
    class="bg-gray-800 border-2 border-black rounded-xl"></canvas>

{% endblock %}
