{% extends "mytxs/sjekkheftet.html" %}
{% load static %}

{% block jsHead %}
<script src="{% static 'mytxs/sjekkhefTest.js' %}" defer></script>
{% endblock %}

{% block sjekkheftetContent %}

<p>Her kan du teste deg på hvor godt du kan 20 tilfeldige navn fra sjekkheftet.<br>
Det går i utgangspunktet på <a href="?">fornavn</a>, men du kan fint også prøve deg
på <a href="?fulltNavn"> fulle navn</a>.</p>

<div class="mt-4">
    {% for medlem in request.queryset %}
    <div>
        <img src="{{ medlem.bilde.url }}" class="h-44 aspect-[139/169] object-cover align-top inline-block">
        <input type="text">
        <input class="hidden" type="text" disabled
            {% if 'fulltNavn' in request.GET %}value="{{ medlem.navn }}"
            {% else %}value="{{ medlem.fornavn }}"{% endif %}
        >
    </div>
    {% endfor %}

    <input type="button" value="Sjekk svar" onclick="evaluateSjekkhefTest(this)">
    <input class="hidden" type="button" value="Vis fasit" onclick="sjekkhefTestFasit(this)">
    <b id="sjekkhefTestScore"></b>
</div>

{% endblock %}