{% extends "mytxs/base.html" %}

{% block content %}
    <form action="{{ request.path }}" method="post">
        {% csrf_token %}

        {{ tilgangFormset.management_form }}

        {% for form in tilgangFormset %}
            {{ form }} <br>
        {% endfor %}
        <input type="submit" value="Lagre">
    </form>
    
    <form action="{{ request.path }}" method="post">
        {% csrf_token %}

        {{ innehavelseFormset.management_form }}

        {% for form in innehavelseFormset %}
            {{ form }} <br>
        {% endfor %}
        <input type="submit" value="Lagre">
    </form>

{% endblock %}