name: Django CI

on:
  pull_request:
    branches: [ main, develop ]
  workflow_dispatch:

env:
  DJANGO_SECRET: "1234"

jobs:
  committed-migrations:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup
      - run: |
          python manage.py makemigrations
          git diff --quiet 

  committed-tailwind:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup
      - name: Regenerer tailwind uten endringer
        run: |
          tailwindcss --cwd mytxs -i static/mytxs/inputStyles.css -o static/mytxs/styles.css --minify
          tailwindcss --cwd docs -o styles.css --minify

          # git diff --exit-code # burda funka fjell, men MIT licence versjonen endre seg over tid
          # så derfor gjør vi følgende istedet, som ser etter linjer i diffen som ikke er kommentarer

          if [[ $(git diff -U0 | grep "^[+-][^/+-]") ]]; then
            git diff
            exit 1
          fi

  django-test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_PASSWORD: postgrespassword
        ports:
          - 5432:5432
    env:
      PGHOST: localhost
      PGPORT: 5432
      PGUSER: postgres
      PGPASSWORD: postgrespassword
      PGDATABASE: postgres

    steps: 
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup

      - name: Vente til Postgres er klar
        run: |
          until pg_isready; do
            echo "Venter på Postgres..."
            sleep 1
          done
          psql --version
          echo "Postgres er klar"

      - run: python manage.py test
