name: Publish to server

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Publish to server
        run: curl https://mytxs.samfundet.no/publish/${{ secrets.MYTXS_PUBLISH_KEY }}
